# python
.venv/
__pycache__/
*.pyc
.env

# gcp service account keys
*.json
.gcp/
credentials/
secrets/
.user.yml

# dbt generated artifacts
dbt/target/
dbt/logs/
dbt/dbt_packages/
logs/

# raw / large data
ELT/kaggle data/
*.parquet
*.csv

# macos
.DS_Store
